/* styles.css */
    
body 
    {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    }
    .presentacion
    {
        margin-right:300px;
        margin-left: 300px;
        color: white; /* Establece el color de la fuente */
        text-align: center; /* Centra el texto */
    }
    
.navbar 
    { 
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100vw;
    display: inline-flex;
    justify-content: space-evenly;
    background-color: #0d1632;
    border-top: #0d1632;
    }

nav /*Estilo de Navs del header*/
    {
    margin-top: 10px;
    margin-bottom: 10px;
    }

.link /*Estilo de Navs del header*/
    {
    text-decoration: none; /* Elimina el subrayado */
    color: #FFF;
    }

.link:hover
    {
    font-weight: 560;
    }

.image-container 
    {
    text-align: center;
    transition: all 0.5s ease;
    }

.perfil /*Estilo de la imagen*/
    {    
    border-radius: 2000px;
    width: 260px; 
    height: 260px; 
    background-color: black; 
    padding: 1px; 
    margin-top: 55px;
    }

#centered-image { /*Estilo de la imagen*/
    max-width: 100%;
    margin-left: 0; /* Asegura que la imagen no tenga margen izquierdo al principio */
    transition: margin-left 0.5s ease; /* Agrega una transición para el movimiento */
}

.hidden { /*Estilo para la clase hidden que tienen aplicadas las listas al principio*/
    display: none;
        }

#experience-list { 
    color: #FFF;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); /*Animación para lista*/
    text-align: left; /* Alinea el texto al margen derecho */
    transition: all 0.9s ease;
    margin-top: -120px;    
    
}

#skills-list {
    color: #FFF;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); /*Animación de lista*/
    text-align: center;
    transition: all 0.9s ease; /*Animación para lista*/
    margin-top: -120px;   
}

#softwares-list {
    color: #FFF;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); /*Animación para lista*/
    text-align: center;
    transition: all 0.9s ease; /*Animación para lista*/
    margin-top: -120px;   
}

#education-list {
    color: #FFF;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); /*Animación para lista*/
    text-align: left;
    transition: all 0.9s ease; /*Animación para lista*/
    margin-top: -120px;   
}


/* Estilos del contenedor de video */
#video-container { 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    z-index: -1; /* Coloca el video detrás de otros elementos */
    filter: brightness(60%); /* Ajusta el valor para hacerlo más oscuro */
}

/* Estilos del video de fondo */
#video-background {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño del video para cubrir todo el contenedor */
}



#experience-list li 
{
  list-style: none; /* Elimina los bullets de la lista */
  text-align: left; /* Alinea el texto al margen derecho */
}

  #education-list li {
    list-style: none; /* Elimina los bullets de la lista */
  text-align: left; /* Alinea el texto al margen derecho */
  }

  #skills-list li {
    list-style: none; /* Elimina los bullets de la lista */
  text-align: left; /* Alinea el texto al margen derecho */
  }

  #softwares-list li {
    list-style: none; /* Elimina los bullets de la lista */
  text-align: left; /* Alinea el texto al margen derecho */
  }

  a
    {
    color: #FFF;
    }

input 
    {
    display: none;
    }

label
    {
    display: none;
    }

.mobile-link 
    {
    display: none;
    }

#enzo-link 
    {
    display: none;
    }

.titulo 
    {
    display: none;
    }

#boton-home 
    {
    display: none;
    }

#nombre 
    {
    display: none;
    }

/*Versión Mobile*/
@media all and  (max-width: 600px)
    {   
    #nombre /*Estilo para el texto a la derecha del menu hamburguesa*/
    {
    display: block;
    color: #FFF;
    margin-top: -58px;
    margin-left: 50px;
    font-size: 25px;
    font-variant: all-small-caps;
    }

    a 
    {
    text-decoration: none;
    }
    #boton-home /*href que se muestra como boton que redirige al usuario al home*/
        {
        display: block;
        margin-top: 35px;
        }

    #link-home /*Diseño del href para que se vea como boton*/
        {
        background-color: #0d1632;
        text-decoration: none;
        padding: 10px 20px;
        color: #fff;
        text-decoration: none;
        border: 1px solid cadetblue;
        border-radius: 5px;
        }

    #experience-list 
        { 
        margin-top: -5px;
        width: 100%;
        margin-left: -5%;
        margin-bottom: 5%;
        list-style: none; /* Elimina los bullets de la lista */
        text-align: left; /* Alinea el texto al margen derecho */
        font-size: 13px;
        }

    #softwares-list
        { 
        margin-top: -50px;
        width: 100%;
        margin-left: -5%;
        margin-bottom: 5%;
        list-style: circle;
        text-align: left;
        font-size: 14px;
            }

    #skills-list 
        { 
        margin-top: -20px;
        width: 100%;
        margin-bottom: 5%;
        list-style: none;
        margin-left: -5%;
        font-size: 12.8px;
        text-align: left;
        }

    #education-list 
        { 
        margin-top: -20px;
        width: 100%;
        margin-bottom: 5%;
        list-style: none;
        margin-left: -5%;
        font-size: 13px;
        text-align: left;
        }

    #skills-list .titulo /*Titulo de lista*/
    {
        display: block;
        font-size: 26px;
    }
    #experience-list .titulo /*Titulo de lista*/
    {
        display: block;
        font-size: 26px;
    }

    #softwares-list .titulo /*Titulo de lista*/
    {
        display: block;
        font-size: 26px;
    }

    #education-list .titulo /*Titulo de lista*/
    {
        display: block;
        font-size: 26px;
    }

    input:checked ~ nav /*Desplegar el menu a la hora de hacer clic en el menú hamburguesa*/
    {
        display: block;
    }

    input:checked ~ label /*Cambiar estado del menú al hacer clic*/
    {
        background: lightblue;
    }

    nav 
    { 
        text-align: center;       
        margin: 0px;
        display: none;
        padding-bottom: 5.5%;
    }

    .navbar /*Diseño del menú desplegable*/
    { 
        background-color: #0d1632;
        border-top: #0d1632;
        border-bottom: #0d1632;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0.5%;
        margin-top: 0.5%;
    }

    label /*Diseño del menú hamburguesa*/
        {
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 2%;
        box-sizing: border-box;
        display: block;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
        background-color: cadetblue;
        }

.presentacion
{
    margin-right: 25px;
    margin-left: 25px;
    color: white;
    text-align: center;
    font-size: smaller;

}

}
